<footer>
    <div class="footer-content">
        <div>
            <img class="footerLogo" src="{{ asset("assets/Images/citania logo.png") }}" alt="logo citania" title="Logo Citania">
        </div>
        <section class="aboutUs">
            <h4>A propos</h4>
            <ul>
                <li><a href="{{ path('CGU') }}">Mentions légales</a></li>
                <li><a href="{{ path('contact') }}">Nous contacter</a></li>
            </ul>
        </section>
        <section class="socialLinks">
            <h4>Retrouvez <strong>Citania</strong> sur les réseaux</h4>
            <ul>
                <li><a href=""><img class="twitterLogo" style="width: 60px;" src="{{ asset("assets/Images/twitterlogo.png") }}" alt="logo twitter"></a></li>
                <li><a href="https://discord.gg/6k3fPWb" target="_blank"><img class="discordLogo" style="width: 80px;" src="{{ asset("assets/Images/logodiscord.png") }}" alt="logo discord"></a></li>
            </ul>
        </section>
    </div>
    <p><a style="color: white; text-decoration: underline;" href="https://joffrey-cormont.fr" target="_blank" title="Joffrey Cormont Développeur web - 2020">Joffrey cormont</a> 2020 © Tout droits réservés</p>
</footer>