{% extends 'baseIngame.html.twig' %}

{% block title %}Citania - Bureau de {{ character.firstname }} {{ character.lastname }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/profil.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/jobWork.css") }}">
{% endblock %}



{% block body %}

<div class="pageTitle">
    <h3>Eboueur - {{ character.firstname }} {{ character.lastname }}</h3>
</div>
    {% include "template/alert.html.twig" %}
    
    <p><a class="link-arriane" href="{{ path('jeu_town') }}">Centre ville</a> <img style="width: 10px;" src="{{ asset("assets/Images/flechedroite.png") }}" alt="fléche droite"> Eboueur - {{ character.firstname }} {{ character.lastname }}</p> 

    <div  style="text-align:center;">
        <img src="{{ asset("assets/Images/jobs/" ~ character.job.slug ~ ".jpg") }}" width="200px" alt="image métier">
    </div>

    <section class="back back--jobDescription">
        <h2 class="title">Sa présentation</h2>
        <div class="headerJob">
            <div class="jobInfos">
                <p>Fait partie du service de propreté de la ville de Citania !</p>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

{% endblock %}
