<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Citania - Ressource non trouvée{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
    <link rel="icon" type="image/png" href="{{ asset("assets/Images/citania logo.png") }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset("assets/css/responsive.css") }}">
</head>
<body>  
    <main>
        <div style="text-align: center;">
            <img style="width: 400px; margin-top: 2em;" src="{{ asset("assets/Images/citania logo.png") }}" alt="logo citania">
            <h3 class="errorResponse" style="font-size: 2em; margin: 2em auto;"><span>404</span> ressource non trouvé</h3>
            <h4 class="errorPage">Causes possibles :</h4>
            <ul class="">
                <li>- le contenu concerné n'existe plus</li>
                <li>- le contenu concerné n'a jamais existé</li>
            </ul>
            {% if is_granted('ROLE_USER') %}
                <a class="link--error" href="{{ path('jeu_news') }}">Retour au jeu</a>
            {% else %}
                <a class="link--error" href="{{ path('home') }}">Retour à la page d'accueil</a>
            {% endif %}
        </div>
    </main> 
    {% include 'template/footer.html.twig' %}
</body>
</html>




